@import "base/variables";
@import "base/mixins";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

@import "blocks/header";
@import "blocks/promo";
@import "blocks/button";
@import "blocks/opportunities";
@import "blocks/users";
@import "blocks/footer";
@import "base/media";





